# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Build outputs
dist/
build/

# Misc
*.bak
*.tmp